.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fullWidth {
    width: 100%;
    max-width: 100%;
}

.noResize {
    resize: none;
}

.marginFourAuto {
    margin: 4% auto;
}